@font-face {
  font-family: "NHaasGroteskDSW01-35XLt";
  src: url("../Fonts/2459b772-216e-4520-97f4-ce5cb27cd66d.eot?#iefix");
  src: url("../Fonts/2459b772-216e-4520-97f4-ce5cb27cd66d.eot?#iefix")
      format("eot"),
    url("../Fonts/2d3ed639-f5d6-489d-9792-c18f0b3a58d6.woff2") format("woff2"),
    url("../Fonts/2cb388a7-9311-4869-8f13-a267ec0df0cb.woff") format("woff"),
    url("../Fonts/373e53df-6f63-436a-a189-25fb3a3e0718.ttf") format("truetype"),
    url("../Fonts/4ea4edba-9d1d-4b94-9ddd-ca9bc5cf9ebe.svg#4ea4edba-9d1d-4b94-9ddd-ca9bc5cf9ebe")
      format("svg");
}
@font-face {
  font-family: "NeueHaasGroteskText W01";
  src: url("../Fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix");
  src: url("../Fonts/d24ae558-ac0f-4a43-96da-dd49b68947f5.eot?#iefix")
      format("eot"),
    url("../Fonts/a14594bf-73de-4b5f-9792-9566994a021d.woff2") format("woff2"),
    url("../Fonts/bb4a10bb-155d-4c1a-a813-c65e10fac36c.woff") format("woff"),
    url("../Fonts/53812a68-b352-4951-b19c-fe964db7ffe2.ttf") format("truetype"),
    url("../Fonts/389e288e-637b-44b2-9b5a-4ecec3ae8e2c.svg#389e288e-637b-44b2-9b5a-4ecec3ae8e2c")
      format("svg");
}

:root {
  --font-primary: "NeueHaasGroteskText W01";
  --font-primary--light: "NHaasGroteskDSW01-35XLt";

  --black: #141414;
  --white: #fff;

  --text-color: #888;

  --unit: 0.75rem;
  --unit-half: calc(0.5 * var(--unit));
  --unit-1: var(--unit);
  --unit-2: calc(2 * var(--unit));
  --unit-3: calc(3 * var(--unit));
  --unit-4: calc(4 * var(--unit));
  --unit-5: calc(5 * var(--unit));
  --unit-6: calc(6 * var(--unit));
  --unit-7: calc(7 * var(--unit));
  --unit-8: calc(8 * var(--unit));
  --unit-9: calc(9 * var(--unit));
  --unit-10: calc(10 * var(--unit));

  --gridRow-color: rgba(255, 255, 255, 0.2);
}

@custom-media --bp-1 (width >= 35em); // 575px
@custom-media --bp-2 (width >= 59.188em); // 947px
@custom-media --bp-3 (width >= 78.750em); // 1260px
@custom-media --bp-4 (width >= 100em); // 1600px

@custom-media --bp-0--only (width <= 35em); // 768px

.white {
  color: var(--white) !important;
}
.black {
  color: var(--black) !important;
}

html {
  height: 100%;
}

body {
  background-color: var(--black);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  font-family: "NeueHaasGroteskText W01";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    padding: 0.25em;
  }

  // &:before {
  //   right: 0;
  //   content: "0";
  //   background-color: #fff;

  //   @media (--bp-1) {
  //     content: "1";
  //   }
  //   @media (--bp-2) {
  //     content: "2";
  //   }
  //   @media (--bp-3) {
  //     content: "3";
  //   }
  //   @media (--bp-4) {
  //     content: "4";
  //   }
  // }

  &:after {
    right: 24px;
    background-color: aqua;

    @media (--bp-0--only) and (orientation: landscape) {
      content: "landscape" !important;
    }
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.15s ease-in-out;

  &:hover {
    color: var(--white);
  }
}

.gridShown {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      var(--gridRow-color),
      var(--gridRow-color) 1px,
      transparent 1px
    );
    background-size: 1px var(--unit);
    background-position: 0 -1px;
    pointer-events: none;
    z-index: 100;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--unit-2);
  max-width: 95rem;
}

main {
  position: relative;
  padding-top: var(--unit-2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;

  @media (--bp-0--only) and (orientation: landscape) {
    min-height: 43.15rem;
  }
}

.logo {
  @media (--bp-1) and (orientation: landscape) {
    position: absolute;
  }
  @media (--bp-2) {
    position: absolute;
  }

  & .app-icon {
    /* margin-top: -10px; */
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  @media (--bp-2) {
    display: grid;
    grid: auto 1fr auto / repeat(2, 1fr);
    align-items: center;
  }
}

.tagline {
  & span {
    display: block;

    @media (--bp-2) {
      display: inline;
    }
  }
}

.logo-type {
  color: var(--white);
  font-weight: 300;
}

.copy {
  @media (--bp-0--only) and (orientation: landscape) {
    margin-left: 54%;
  }
  /* outline: 1px solid aqua; */
  @media (--bp-2) {
    grid-column: 2/2;
  }
}

.contact {
  margin-bottom: var(--unit-2);
  order: 2;
  @media (--bp-0--only) and (orientation: landscape) {
    margin-left: 54%;
  }
  @media (--bp-2) {
    grid-column: 2 / 2;
  }
}

.badge {
  @media (--bp-3) {
    margin-bottom: 80px;
  }
}

.media-wrapper {
  flex: 1;
  position: relative;
  /* outline: 1px solid red; */
  display: flex;
  order: 0;

  @media (--bp-2) {
    display: block;
    grid-column: 2 / 2;
    order: 1;
    margin-bottom: var(--unit-2);
  }
}

.media {
  position: relative;
  /* outline: 1px solid pink; */
  flex: 1;
  display: flex;
}

.phone-wrapper {
  display: none;

  @media (--bp-2) {
    flex: 1;
    display: flex;
    padding-bottom: 100%;
    /* outline: 1px solid green; */
  }
}

.phone {
  @media (--bp-2) {
    display: block;
    position: absolute;
    object-position: left center;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.synths {
  flex: 1;
  display: flex;
  position: relative;
  margin: var(--unit-1) calc(-1 * var(--unit-2));
  overflow: hidden;

  @media (--bp-1) {
    margin: var(--unit-5) calc(-1 * var(--unit-2));
  }

  @media (--bp-2) {
    overflow: visible;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 13% 0;
    transform: translate(-100%, -2.5%);
    top: 0;
    z-index: -1;
  }

  & .synth {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--unit-1);
    right: var(--unit-1);

    &:nth-child(1) {
    }

    &:nth-child(2) {
      transform: translateX(20%);
    }

    &:nth-child(3) {
      transform: translateX(60%);
    }

    & img {
      width: 100%;
      object-fit: contain;
      object-position: left center;
    }
  }
}

.privacy-policy {
  margin-top: var(--unit-4);
  color: #fff;
  line-height: 1.35;

  @media (--bp-2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: var(--unit-10);
    grid-column-gap: var(--unit-4);
  }

  & p {
    margin-bottom: var(--unit-1);
  }
  
  & h1 {
    margin-bottom: var(--unit-1);
  }

  & h2 {
    margin-bottom: var(--unit-1);
  }

}

/* helpers */

.font-primary {
  font-family: var(--font-primary);
  font-weight: 300;
}

.font-primary--light {
  font-family: var(--font-primary--light);
  font-weight: 300;
}

.block {
  display: block;
}
.inlineBlock {
  display: inline-block;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-direction-column {
  flex-direction: column;
}

.marginBottom-half {
  margin-bottom: var(--unit-half);
}
.marginBottom-1 {
  margin-bottom: var(--unit-1);
}
.marginBottom-2 {
  margin-bottom: var(--unit-2);
}
.marginBottom-3 {
  margin-bottom: var(--unit-3);
}
.marginBottom-4 {
  margin-bottom: var(--unit-4);
}
.marginBottom-5 {
  margin-bottom: var(--unit-5);
}

/* typography */

h1,
h2,
p {
  margin-top: 0;
}

h1,
h2,
p {
  margin-bottom: 0;
}

h1 {
  position: relative;
  top: -0.2em;
}

p {
  position: relative;
  top: -0.25em;
}

.p {
  font-size: 1rem;
}
